/* first navbar styling */

.firstNavbar {
    top: 0%;
    background-color: #205375;
    color: white;
    font-size: 0.75rem;
    height: 10%;
    padding: 0.5rem 2rem 0.5rem 2rem;
}

.nav-link {
    color: white;
}

.fnavbar-img {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.5rem;
}

select {
    background: none;
    border: none;
    color: white;
}

option {
    color: #205375;
}

/* second navbar styling */
.secondNavbar {
    margin: 1rem 4rem 1rem 4rem;
    padding: 1rem;
}

.row {
    text-align: center;
}

#snvheading {
    padding: 2.5rem;
}


#symbol {
    width: 75px;
    height: 150px;
}

#dilogo {
    width: 175px;
    height: 100px;
}

/* third navbar styling */
#thrdnav {
    margin: auto;
}

/* floatingDiv styling */
marquee {
    padding: 0.75rem;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    font-style: unset;
}

/* main div styling */
#maindiv {
    margin: 2rem;
    background-color: #FF1700;
    color: white;
    padding: 1.2rem;
    max-height: 30%;
}

#mainhead {
    padding: 1.5rem;
}

.carousel-inner {
    background-color: rgb(226, 221, 221);
    color: #06113C;
    padding: 2rem;
    border-radius: 10px;
    font-size: 1rem;
}

.mainimg {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 40%;
    margin-bottom: 1rem;
}

/* about us styling */
.aboutus {
    background-color: #006E7F;
    color: white;
    padding: 1.5rem;
}

#about {
    background-color: white;
    color: #205375;
    padding: 1rem;
}

/* milestone div styling */
.extradetails {
    margin: 1rem 2rem 1rem 2rem;
}

#banner {
    margin: 0%;
    width: 100%;
    height: 30%;
}

#bnrtxt {
    background-color: #FCFFE7;
    text-align: center;
}

.milestonepic {
    text-align: center;
}

/* sub divs styling */

.firstsubdiv,
.secondsubdiv {
    display: none;
    text-align: left;
    background-color: #890F0D;
    color: white;
    padding: 1rem;
}

.firstsubdiv-active,
.secondsubdiv-active {
    display: block;
}

#firstmaindiv,
#secondmaindiv {
    max-width: 45%;
    margin: 1rem;
}

.subdivContents {
    background-color: white;
    color: #06113C;
    border-radius: 15px;
    padding-top: 0.5rem;
    padding-bottom: 00.5rem;
}

.calc {
    padding-left: 1rem;
    margin-bottom: 1rem;
}

/* footer section styling */
footer {
    background-color: #06113C;
    color: lightgray;
}